@import "node_modules/tokens/tokens";

.h-preview {
  text-align: center;
  background: $token-color-gray-100;
  border-radius: 4px;
  padding: 50px 0;
  margin-bottom: 10px;
  border: 1px solid #ced4de;
}
