body {
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 14px;
  font-family: neue-haas-grotesk-text, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
