.header {
  height: 56px;
  width: 100%;
  background: #2f2f2f;
  display: flex;
  align-items: center;
  padding: 0 30px;
  color: #999;
}

.header .logo {
  height: 19px;
}

.header ul {
  list-style: none;
  font-weight: 500;
  line-height: 56px;
}

.header ul li {
  float: left;
  padding: 0 10px;
}
