$token-color-gray-100: #f4f4f4;
$token-color-gray-200: #e1e1e7;
$token-color-gray-300: #ddd;
$token-color-gray-400: #bbb;
$token-color-gray-500: #999;
$token-color-gray-600: #777;
$token-color-gray-700: #666;
$token-color-gray-800: #444;
$token-color-gray-900: #333;

$token-color-white: #fff;

$token-color-pink-500: #d95988;
$token-color-pink-700: #df3e7b;
$token-color-pink-900: #c22b65;

$token-color-red-300: #ed615c;

$token-color-blue-300: #4fb4de;
$token-color-blue-500: #3a8bbb;
$token-color-blue-700: #1e6189;
$token-color-blue-900: #0c3f5d;

$token-color-green-500: #7bbb5e;
$token-color-green-700: #5b9540;
$token-color-green-900: #3b6d25;

/* Named colors */

$token-color-brand-500: $token-color-pink-500;
$token-color-brand-700: $token-color-pink-700;
$token-color-brand-900: $token-color-pink-900;

/* Primary colors */

$token-color-primary-pink: $token-color-pink-500;
$token-color-primary-blue: $token-color-blue-500;

/* Secondary colors */

$token-color-secondary-gray: $token-color-gray-300;
$token-color-secondary-green: $token-color-green-500;
$token-color-secondary-red: $token-color-red-300;
$token-color-secondary-blue: $token-color-blue-300;

/* Accent colors */

$token-color-accent-300: $token-color-blue-300;
$token-color-accent-500: $token-color-blue-500;
$token-color-accent-700: $token-color-blue-700;
$token-color-accent-900: $token-color-blue-900;

/* Success colors */

$token-color-success-500: $token-color-green-500;
$token-color-success-700: $token-color-green-700;
$token-color-success-900: $token-color-green-900;

/* Info colors */

$token-color-info-500: $token-color-gray-300;

/* Backgrounds */

$token-color-background-light: $token-color-gray-100;
$token-color-background-light-alt: $token-color-gray-200;
$token-color-background-dark: $token-color-gray-900;
$token-color-background-dark-alt: $token-color-gray-800;

/* Text */

$token-color-text-primary: $token-color-gray-800;
$token-color-text-primary-light: $token-color-gray-600;
$token-color-text-secondary: $token-color-gray-500;
$token-color-text-disabled: $token-color-gray-400;

$token-color-text-link: $token-color-blue-500;
$token-color-text-link-dark: $token-color-blue-700;

$token-color-text-primary-on-dark: $token-color-gray-300; /* different */
$token-color-text-secondary-on-dark: $token-color-gray-500;

/* Borders */

$token-color-border-info: $token-color-gray-400;
